@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes slowFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.hero {
  display: flex;
  padding: 0rem 6rem 3rem 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__wrap {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: 2rem;
  }
  &__title {
    margin: 0;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32rem;
    color: #040e33;
    &--emphasis {
      color: #395fd3;
    }
    &--first {
      animation: fadeIn 3s;
    }
    &--second {
      animation-name: slowFadeIn;
      animation-duration: 2s;
    }
    &--third {
      animation: slowFadeIn 5s;
    }
  }
  &__border {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: white;
  }
  &__wave {
    background-color: #395fd3;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    &-top {
      margin-top: 0rem;
      margin-bottom: 1.5rem;
    }
  }
}
